<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Oh no :(</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="../static/styleerr.css">
  <link rel="shortcut icon" type="image/icon" href="../static/img/favicon.png" />
</head>

<body>
<h1 class="message">ERRORE</h1>
<img src="../static/img/error.png" width="400rem" height="400rem" alt="*Biscotto triste*" >
<h1 class="message_bottom">Non abbiamo trovato il biscotto che cercavi :(</h1>
</body>
</html>
