{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styleerr.css') }}">
<link rel="shortcut icon" type="image/icon" href="{{ url_for('static', filename='img/favicon.png') }}" />
{% endblock %}


{% block body %}
<h1 class="message">ERRORE</h1>
<img src="{{ url_for('static', filename='img/error.png') }}" width="400rem" height="400rem" alt="*Biscotto triste*" >
<h1 class="message_bottom">Non abbiamo trovato il biscotto che cercavi :(</h1>
<p class="subtitle">Le cause possono essere molteplici, errori del server, errori generici oppure, banalmente, non abbiamo nessuna classifica da mostrarti.</p>
<footer class="footer navbar-fixed-bottom", style="text-align: center; color: gray;">
  <p><a href="https://t.me/TakeTheCookieBot">@TakeTheCookieBot</a> su telegram, segui <a
      href="https://t.me/TakeTheCookie">TakeTheCookie</a>!</p>
</footer>
{% endblock %}

