{% extends 'base.html' %}
{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="shortcut icon" type="image/icon" href="{{ url_for('static', filename='img/favicon.png') }}" />
{% endblock %}

{% block body %}
	<section class="main-content">
		<div class="container">
			<h1 style="text-align: center;">BISCOTTIH?!?</h1>
			<h5 style="text-align: center; margin: 0;">Classifica completa con tutti i raccoglitori di biscotti della sessione corrente!</h5>
			<p style="text-align: center; color: gray; margin: 0;">Per vedere la classifica globale, <a href="/global">clicca qui!</a></p>
			<p style="text-align: center; color: gray; margin: 0;">Per vedere la classifica dei gruppi, <a href="/group">clicca qui!</a></p>
			</h5>
			<br>
			<br>
			<div class="row podium">	<!-- For mobile devices -->
				{% if number >= 1: %}
				<div class="col-sm-4">
					<div class="leaderboard-card leaderboard-card--first">
						<div class="leaderboard-card__top">
							<h3 class="text-center">🍪 {{users[0]["qta"]}}</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								{% if users[0]['users_session'][0]['propic'] != 0 %}
								<img src="../static/img/users/{{users[0]['_id']}}.png" class="circle-img mb-2" alt="User Img">
								{% else %}
								<img src="../static/img/users/user_default.svg" class="circle-img mb-2" alt="User Img">
								{%endif%}
								<h5 class="mb-0">{{users[0]['users_session'][0]['name']}}</h5>
								<p class="text-muted mb-0">{{users[0]['users_session'][0]['username']}}</p>
								<hr>
							</div>
						</div>
					</div>
				</div>
				{%endif%}
				{% if number >= 2: %}
				<div class="col-sm-4">
					<div class="leaderboard-card leaderboard-card--second">
						<div class="leaderboard-card__top">
							<h3 class="text-center">🍪 {{users[1]["qta"]}}</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								{% if users[1]['users_session'][0]['propic'] != 0 %}
								<img src="../static/img/users/{{users[1]['_id']}}.png" class="circle-img mb-2" alt="User Img">
								{% else %}
								<img src="../static/img/users/user_default.svg" class="circle-img mb-2" alt="User Img">
								{%endif%}
								<h5 class="mb-0">{{users[1]['users_session'][0]['name']}}</h5>
								<p class="text-muted mb-0">{{users[1]['users_session'][0]['username']}}</p>
								<hr>
							</div>
						</div>
					</div>
				</div>
				{%endif%}
				{% if number >= 3: %}
				<div class="col-sm-4">
					<div class="leaderboard-card leaderboard-card--third">
						<div class="leaderboard-card__top">
							<h3 class="text-center">🍪 {{users[2]["qta"]}}</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								{% if users[2]['users_session'][0]['propic']!= 0 %}
								<img src="../static/img/users/{{users[2]['_id']}}.png" class="circle-img mb-2" alt="User Img">
								{% else %}
								<img src="../static/img/users/user_default.svg" class="circle-img mb-2" alt="User Img">
								{%endif%}
								<h5 class="mb-0">{{users[2]['users_session'][0]['name']}}</h5>
								<p class="text-muted mb-0">{{users[2]['users_session'][0]['username']}}</p>
								<hr>
							</div>
						</div>
					</div>
				</div>
				{%endif%}
			</div>

			<div class="row">
				{% if number >= 2: %}
				<div class="col-sm-4">
					<div class="leaderboard-card leaderboard-card--second">
						<div class="leaderboard-card__top">
							<h3 class="text-center">🍪 {{users[1]["qta"]}}</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								{% if users[1]['users_session'][0]['propic'] != 0 %}
								<img src="../static/img/users/{{users[1]['_id']}}.png" class="circle-img mb-2" alt="User Img">
								{% else %}
								<img src="../static/img/users/user_default.svg" class="circle-img mb-2" alt="User Img">
								{%endif%}
								<h5 class="mb-0">{{users[1]['users_session'][0]['name']}}</h5>
								<p class="text-muted mb-0">{{users[1]['users_session'][0]['username']}}</p>
								<hr>
							</div>
						</div>
					</div>
				</div>
				{%endif%}
				{% if number >= 1: %}
				<div class="col-sm-4">
					<div class="leaderboard-card leaderboard-card--first">
						<div class="leaderboard-card__top">
							<h3 class="text-center">🍪 {{users[0]["qta"]}}</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								{% if users[0]['users_session'][0]['propic'] != 0 %}
								<img src="../static/img/users/{{users[0]['_id']}}.png" class="circle-img mb-2" alt="User Img">
								{% else %}
								<img src="../static/img/users/user_default.svg" class="circle-img mb-2" alt="User Img">
								{%endif%}
								<h5 class="mb-0">{{users[0]['users_session'][0]['name']}}</h5>
								<p class="text-muted mb-0">{{users[0]['users_session'][0]['username']}}</p>
								<hr>
							</div>
						</div>
					</div>
				</div>
				{%endif%}
				{% if number >= 3: %}
				<div class="col-sm-4">
					<div class="leaderboard-card leaderboard-card--third">
						<div class="leaderboard-card__top">
							<h3 class="text-center">🍪 {{users[2]["qta"]}}</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								{% if users[2]['users_session'][0]['propic']!= 0 %}
								<img src="../static/img/users/{{users[2]['_id']}}.png" class="circle-img mb-2" alt="User Img">
								{% else %}
								<img src="../static/img/users/user_default.svg" class="circle-img mb-2" alt="User Img">
								{%endif%}
								<h5 class="mb-0">{{users[2]['users_session'][0]['name']}}</h5>
								<p class="text-muted mb-0">{{users[2]['users_session'][0]['username']}}</p>
								<hr>
							</div>
						</div>
					</div>
				</div>
				{%endif%}
			</div>
			<h4 style="margin-top: 20px;">Classifica completa:</h4>
			<table class="table">
				<thead>
					<tr>
						<th>Utente</th>
						<th>Biscotti ottenuti</th>
						<th>Sessioni vinte</th>
						<th>Gruppo</th>
					</tr>
				</thead>
				<tbody>
					{% for element in users: %}
					<tr>
						<td>
							<div class="d-flex align-items-center">
								{% if element['users_session'][0]['propic']!= 0 %}
								<img src="../static/img/users/{{element['_id']}}.png" class="circle-img mb-2" alt="User Img">
								{% else %}
								<img src="../static/img/users/user_default.svg" class="circle-img mb-2" alt="User Img">
								{%endif%}
								<div class="user-info__basic">
									<h5 class="mb-0">{{element['users_session'][0]["name"]}}</h5>
									<p class="text-muted mb-0">{{element['users_session'][0]["username"]}}</p>
								</div>
							</div>
						</td>
						<td>
							<div class="d-flex align-items-center">
								<h4 class="mr-1">{{element["qta"]}}</h4>
							</div>
						</td>
						<td>
							<div class="d-flex align-items-center">
								<h4 class="mr-1">{{element['users_session'][0]['session_count']}}</h4>
							</div>
						</td>
						<td>
							<div class="d-flex align-items-center">
								<p>
									{% if element["group"] != []: %}
										{% if element["group"][0]["privacy"] == 0: %}
										*Informazione nascosta dagli admin del gruppo*
										{% else %}
										{{element["group"][0]["name"]}}
										{%endif%}
									{% else %}
										*Il gruppo e' stato rimosso*
									{%endif%}
								</p>
							</div>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
	<footer style="text-align: center; color: gray;">
		<p>Classifica generata da <a href="https://t.me/TakeTheCookieBot">@TakeTheCookieBot</a> su telegram, segui <a
				href="https://t.me/TakeTheCookie">TakeTheCookie</a>!</p>
	</footer>
{% endblock %}