<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Classifica Biscottini</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="shortcut icon" type="image/icon" href="../static/img/favicon.png" />
</head>

<body>
	<section class="main-content">
		<div class="container">
			<h1 style="text-align: center;">BISCOTTIH?!?</h1>
			<h5 style="text-align: center; margin: 0;">Classifica completa con tutti i raccoglitori di biscotti della sessione corrente!</h5>
			<p style="text-align: center; color: gray;">Per vedere la classifica globale, <a href="/global">clicca qui!</a></p>
			</h5>
			<br>
			<br>
			<div class="row podium">	<!-- For mobile devices -->
				{% if number >= 1 or number==1: %}
				<div class="col-sm-4">
					<div class="leaderboard-card leaderboard-card--first">
						<div class="leaderboard-card__top">
							<h3 class="text-center">🍪 {{user[0][3]}}</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								{% if user[0][5] != 0 %}
								<img src="../static/img/{{user[0][0]}}.png" class="circle-img mb-2" alt="User Img">
								{% else %}
								<img src="../static/img/disable.png" class="circle-img mb-2" alt="User Img">
								{%endif%}
								<h5 class="mb-0">{{user[0][1]}}</h5>
								<p class="text-muted mb-0">{{user[0][2]}}</p>
								<hr>
							</div>
						</div>
					</div>
				</div>
				{%endif%}
				{% if number >= 2 or number==2: %}
				<div class="col-sm-4">
					<div class="leaderboard-card leaderboard-card--second">
						<div class="leaderboard-card__top">
							<h3 class="text-center">🍪 {{user[1][3]}}</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								{% if user[1][5] != 0 %}
								<img src="../static/img/{{user[1][0]}}.png" class="circle-img mb-2" alt="User Img">
								{% else %}
								<img src="../static/img/disable.png" class="circle-img mb-2" alt="User Img">
								{%endif%}
								<h5 class="mb-0">{{user[1][1]}}</h5>
								<p class="text-muted mb-0">{{user[1][2]}}</p>
								<hr>
							</div>
						</div>
					</div>
				</div>
				{%endif%}
				{% if number >= 3 or number==3: %}
				<div class="col-sm-4">
					<div class="leaderboard-card leaderboard-card--third">
						<div class="leaderboard-card__top">
							<h3 class="text-center">🍪 {{user[2][3]}}</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								{% if user[2][5]!= 0 %}
								<img src="../static/img/{{user[2][0]}}.png" class="circle-img mb-2" alt="User Img">
								{% else %}
								<img src="../static/img/disable.png" class="circle-img mb-2" alt="User Img">
								{%endif%}
								<h5 class="mb-0">{{user[2][1]}}</h5>
								<p class="text-muted mb-0">{{user[2][2]}}</p>
								<hr>
							</div>
						</div>
					</div>
				</div>
				{%endif%}
			</div>

			<div class="row">
				{% if number >= 2 or number==2: %}
				<div class="col-sm-4">
					<div class="leaderboard-card leaderboard-card--second">
						<div class="leaderboard-card__top">
							<h3 class="text-center">🍪 {{user[1][3]}}</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								{% if user[1][5] != 0 %}
								<img src="../static/img/{{user[1][0]}}.png" class="circle-img mb-2" alt="User Img">
								{% else %}
								<img src="../static/img/disable.png" class="circle-img mb-2" alt="User Img">
								{%endif%}
								<h5 class="mb-0">{{user[1][1]}}</h5>
								<p class="text-muted mb-0">{{user[1][2]}}</p>
								<hr>
							</div>
						</div>
					</div>
				</div>
				{%endif%}
				{% if number >= 1 or number==1: %}
				<div class="col-sm-4">
					<div class="leaderboard-card leaderboard-card--first">
						<div class="leaderboard-card__top">
							<h3 class="text-center">🍪 {{user[0][3]}}</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								{% if user[0][5] != 0 %}
								<img src="../static/img/{{user[0][0]}}.png" class="circle-img mb-2" alt="User Img">
								{% else %}
								<img src="../static/img/disable.png" class="circle-img mb-2" alt="User Img">
								{%endif%}
								<h5 class="mb-0">{{user[0][1]}}</h5>
								<p class="text-muted mb-0">{{user[0][2]}}</p>
								<hr>
							</div>
						</div>
					</div>
				</div>
				{%endif%}
				{% if number >= 3 or number==3: %}
				<div class="col-sm-4">
					<div class="leaderboard-card leaderboard-card--third">
						<div class="leaderboard-card__top">
							<h3 class="text-center">🍪 {{user[2][3]}}</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								{% if user[2][5]!= 0 %}
								<img src="../static/img/{{user[2][0]}}.png" class="circle-img mb-2" alt="User Img">
								{% else %}
								<img src="../static/img/disable.png" class="circle-img mb-2" alt="User Img">
								{%endif%}
								<h5 class="mb-0">{{user[2][1]}}</h5>
								<p class="text-muted mb-0">{{user[2][2]}}</p>
								<hr>
							</div>
						</div>
					</div>
				</div>
				{%endif%}
			</div>
			<h4 style="margin-top: 20px;">Classifica completa:</h4>
			<table class="table">
				<thead>
					<tr>
						<th>Utente</th>
						<th>Biscotti ottenuti</th>
						<th>Sessioni vinte</th>
						<th>Gruppo</th>
					</tr>
				</thead>
				<tbody>
					{% for element in user: %}
					<tr>
						<td>
							<div class="d-flex align-items-center">
								{% if element[5]!= 0 %}
								<img src="../static/img/{{element[0]}}.png" class="circle-img mb-2" alt="User Img">
								{% else %}
								<img src="../static/img/disable.png" class="circle-img mb-2" alt="User Img">
								{%endif%}
								<div class="user-info__basic">
									<h5 class="mb-0">{{element[1]}}</h5>
									<p class="text-muted mb-0">{{element[2]}}</p>
								</div>
							</div>
						</td>
						<td>
							<div class="d-flex align-items-center">
								<h4 class="mr-1">{{element[3]}}</h4>
							</div>
						</td>
						<td>
							<div class="d-flex align-items-center">
								<h4 class="mr-1">{{element[4]}}</h4>
							</div>
						</td>
						<td>
							<div class="d-flex align-items-center">
								<p>
									{% for info in gruppi: %}
									{% if info[0] == element[6]: %}
									{% if info[2] == 0: %}
									*Informazione nascosta dagli admin del gruppo*
									{% else %}
									{{info[1]}}
									{%endif%}
									{%endif%}
									{% endfor %}
								</p>
							</div>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
	<footer style="text-align: center; color: gray;">
		<p>Classifica generata da <a href="https://t.me/TakeTheCookieBot">@TakeTheCookieBot</a> su telegram, segui <a
				href="https://t.me/TakeTheCookie">TakeTheCookie</a>!</p>
	</footer>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>